<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day to Day Expenses</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <p>Day to Day Expenses</p>
    </header>
        <form class="form-changepassword-page" id='form-changepassword-page'>
            <p>Reset Password</p>
            <input type="text" style="display:none;" name="error" id="error">
            <input type="text" name="reenterPassword" id="reenterPassword" placeholder=" Re-enter Password">
            <input type="text" name="password" id="password" placeholder="Password">
            <button id="forgotpassword-button">SUBMIT</button>
        </form>
        <script src="/js/changepwd.js"></script>
       
</body>
</html>