<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day to Day Expenses</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <p>Day to Day Expenses</p>
    </header>
        <form class="form-forgotpassword-page" id="form-forgotpassword-page">
            <p>Reset Password</p>
            <input type="text" style="display:none;" name="error" id="error">
            <input type="text" name="mail" id="mail" placeholder="Email Address">
            <button id="forgotpassword-button">SUBMIT</button>
        </form>
        <script src="/js/resetpwd.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
       
</body>
</html>