<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day to Day Expenses</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <p>Day to Day Expenses</p>
    </header>
    <a href="http://3.111.151.88:3000/signup" id="signup">Signup</a>
        <form class="form-loginpage" id="form-loginpage">
            <p>LOGIN</p>
            <input type="text" style="display:none;" name="error" id="error">
            <input type="text" name="mail" id="mail" placeholder="Email Address">
            <input type="password" name="password" id="password" placeholder="Password">
            <button id="login-page">SIGN IN</button>
            <a href="./forgotpassword">Forgot Password</a>
        </form>
        <script src="/js/login.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
       
</body>
</html>