<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day to Day Expenses</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <p>Day to Day Expenses</p>
    </header>
        <form class="form-loginpage" onsubmit="login(event)">
            <p>LOGIN</p>
            <input type="text" style="display:none;" name="error" id="error">
            <input type="text" name="mail" id="mail" placeholder="Email Address">
            <input type="password" name="password" id="password" placeholder="Password">
            <button id="login-page">SIGN IN</button>
        </form>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
        <script src="/js/main.js"></script>
       
</body>
</html>