body{
    background-color:aquamarine; 
    font-family: Arial, Helvetica, sans-serif;
}
.dark{
    background-color: rgba(0, 0, 0, 0.867);
    font-family: Arial, Helvetica, sans-serif;
    transition: background 0.5s linear,color 0.5s linear;
}
header p{
    color: white;
    margin-left: 1.5vw;
    font-size: 6vh;
}
form{
    background-color: white;
    width: 25vw;
    height: 60vh;
    margin: 10vh auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 1vw;
}
form input,form select,form option{
    width: 20vw;
    height: 5vh;
    margin: 1vw;
    background-color: azure;
    border: none;
    font-size: 1vw;
}
form button{
    width: 20vw;
    height: 7vh;
    margin: 2vh; 
     border-color: white;
    border-radius: 1vw;
    color: white;
    font-size: 1.5vw;
    box-shadow: 1px 1px 10px gray;
}
form button:hover{
    background-color: white;
    color: aquamarine;
    border-color: aquamarine;
}
#input-submit{
    background-color: aquamarine;
    margin: auto;
    width: 15vw;
    height: 5vh;
    margin: 10px;
    position: relative;
    left:150%;
    font-size: 1.5vw;
    border-color: white;
}
#input-submit:hover{
    background-color: white;
    color: aquamarine;
}
#login,#signup{
    width: 6vw;
    height: 3.5vh;
    margin: 2vh;
    padding: 3px; 
    border-color: white;
    border-radius: 1vw;
    background-color: white;
    color: aquamarine;
    font-size: 1.3vw;
     box-shadow: 1px 1px 10px gray;
     position: absolute;
     top:2%;
     right: 0%;
     text-decoration: none;
     text-align: center;
}
#login:hover,#signup:hover{
    background-color: aquamarine;
    color: white;
}
form p{
    background-color: white;
    font-size: 2vw;
    margin-top: 4vh;
    margin-bottom: 1vh;
}
#error{
    color:red;
    font-size: 2vh;
    margin: 0;
    background-color: white;
    text-align: center;
}
.form-loginpage{
    height: 60vh;
}


.home-header{
    font-size: 2vw;
    color: white;
    margin: 10px;
}
.home-header.list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 15px;
}
.expenselist a{
    text-decoration: none;
    color: white;
    font-size: 0.9em;
    border-bottom: 1px solid white;
    padding: 0.2em;
    cursor: pointer;
}
.form-homepage{
    width: auto;
    height: auto;
    margin: 10px 0;
    border: 0;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
}
.input-expense{ 
    display: grid;
    grid-template-columns: repeat(4,auto);
    justify-content: center;
    align-items: center;
    background-color: white;
    border-bottom: 2px solid black;
}
#premium,#logout{
    margin: auto;
    background-color: white;
    color:aquamarine;
    width: 10vw;
    height: 5vh;
    margin: 10px;
    position: absolute;
    left: 85%;
    top: 1%;
    font-size: 1.5vw;
    border-color:aquamarine;
    border-radius: 1vw;
}
#premium:hover,#logout:hover{
    background-color: aquamarine;
    color:white;
    border-color: white;
}

#darkmode{
    text-align: center;
    cursor: pointer;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.867);
    width: 2vw;
    height: 4vh;
    margin: 10px;
    position: absolute;
    left: 96%;
    top: 1.5%;
    font-size: 1.5vw;
    border-color:aquamarine;
    color:white;
    border-radius: 1.5vw; 
}

.balance{
    background-color: white;
    margin: 10px auto;
    font-size: 1.7vw;
}
.balance span{
    margin: 10px 50px;
    background-color: white;
    text-align: end;
}
#balance-amount{
    margin-left: 0;
}
.credit-debit{
    background-color: white;
    display: flex;
    margin: 1vw;
}
.credit,.debit{
    margin: 0 10vw;
    background-color: white;
}
.heading,.heading  > *,#total-credit-amount,#total-debit-amount{
    font-size: 1.2vw;
    background-color: white;
    border: 0.4vw solid white;
}
.heading span{
    margin: 0 2vw;
}
#total-credit-amount,#total-debit-amount{
    margin-left: 0;
    margin-right: 0;
}
.data{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.data span{
    margin: 0.5vw 1vw;
    background-color: white;
    font-size: 1.1vw;
}
.description,.category{
    background-color: white;
    font-size: 1.1vw;
    text-align: center;
    display: none;
}
#data-delbutton,#data-editbutton{
    color: white;
    font-size: 1.1vw;
    padding: 0;
    margin: 1px;
    border: 1px solid white;
    width:2.5vw;
    height: 1.3vw;
    text-align: center;
    box-shadow: none;
    background-color: aquamarine;
}
#data-detailbutton{
    color: white;
    font-size: 1.1vw;
    padding: 0;
    margin: 1px;
    border: 1px solid white;
    background-color: aquamarine;
    width:3.3vw;
    height: 1.3vw;
    text-align: center;
    box-shadow: none;
}
#data-delbutton:hover,#data-editbutton:hover,#data-detailbutton:hover{
    color:aquamarine;
    background-color: white;
    border-color: aquamarine    ;
}
#amount{
    margin-left: 0;
}
#download,#create-download{
    background-color: aquamarine;
    color: white;
    width: 12vw;
    height: 5vh;
}
#download:hover,#create-download:hover{
    background-color: white;
    color: aquamarine;
}
#download-tab{
    position: absolute;
    top: 10%;
    background-color: white;
    border: 2px solid black;
    border-radius: 1vw;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
#download-table tr{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1vh;
    font-size: 1.5vw;
}
#download-table{
    margin: 3vw;
}

table{
    width: 30vw;
    height: 30vh;
    background-color: white;
    border: 1.5px solid black;
    border-radius: 1vw;
}
table > *{
    font-size: 1.5vw;
}
.data-leadership{
    text-align: center;
}
#sign-up,#login-page{
    background-color: aquamarine;
}
#sign-up:hover,#login-page:hover{
    background-color: white;
}
#google-page{
    color: aquamarine;
    margin: 1vw 1vh;
}
#forgotpassword{
    color: aquamarine;
}
#google-page:hover,#forgotpassword:hover{
    color: red;
}
.leadership-list{
    cursor: pointer;
}
#leadership-details{
    position: absolute;
    top:30%;
    right:40%;
    background-color: white;
    border: 2px solid black;
    width: 20vw;
    height: 18vh;
    border-radius: 2vw;
    text-align: center;
    font-size: 1.5vw;
    padding: 2px;
}
#expense-description h4{
    font-size: 1.5vw;
    margin: 1vw auto;
}
#expense-description{
    display: none;
    flex-direction: column;
    width: 40vw;
    height: 70vh;
    top: 17%;
    right: 30%;
    position: absolute;
    background-color: white;
    border: 2px solid aquamarine;
    border-radius: 2vw;
    color: black;   
}
#expense-description input{
    font-size: 1.2vw;
    margin-bottom: 1vw;
    width: 25vw;
    margin-left: 5vw;
    margin-right: 1vw;
}
#expense-description label{
    font-size: 1.2vw;
    margin-top: 1vw;
    margin-left: 5vw;
    margin-right: 1vw;
}
#expense-description select{
    font-size: 1.2vw;
    margin-bottom: 1vw;
    width: 25vw;
    margin-left: 5vw;
    margin-right: 1vw;
}
#del-detail,#edit-detail,#close-detail,#save-detail{
    background-color:aquamarine;
    color: white;
    width: 8vw;
    height: 5vh;
    border: 1px solid white;
    border-radius: 1vw;
    font-size: 1.2vw; 
    margin-left: 4vw; 
    margin-top: 1.5vh;
}

#del-detail:hover,#edit-detail:hover,#close-detail:hover,#save-detail{
    background-color: white;
    color: aquamarine;
    border: 1px solid aquamarine;
}
#expense-list-name{
    cursor: pointer;
}

#leadership-detail-close{
    position: relative;
    top: -94%;
    left: 40%;
    border-radius: 0.5vw;
    cursor: pointer;
}
#download-close{
    position: absolute;
    top: 0.5%;
    left: 90%;
    border-radius: 0.5vw;
    cursor: pointer;
    width: 2vw;
    height: 5vh; 
    background-color: white;
    color: black;
}
.form-loginpage a{
    font-size: 1.2vw;
    color:blue;
}
.form-loginpage a:hover,.form-loginpage a:visited{
    color: red;
    
}
.form-forgotpassword-page{
    height: 40vh;
}

#forgotpassword-button{
    background-color: aquamarine;
}
#forgotpassword-button:hover{
   color: aquamarine;
   background-color: white;
}
.form-changepassword-page{
 height: 50vh;
}
.form-expiredpassword-page{
    width: 99vw;
    margin:0;
}
#pagination{
    margin: 1vw;
    font-size: 1.2vw;
}
.daily-expense-pagination,.monthly-expense-pagination,.yearly-expense-pagination{
    width: 2vw;
    height: 5vh;
    border: none;
    cursor: pointer;
    border-bottom: 2px solid black;
    margin: 0.5vw;
}
#rows-per-page{
    font-size: 1.2vw;
    background-color: white;
    width: 2.5vw;
    padding: 0;
    margin: 0;
}
#pagination-perpage{
   position: relative;
   left: 40vw;;
   top: -8vh;
}
#pagination-div{
    font-size: 1.2vw;
    margin: 0;
    height: 6vh;
}


