*{
    background-color:aquamarine; 
    font-family: Arial, Helvetica, sans-serif;
}
header{
    color: white;
    margin-left: 1.5vw;
    font-size: 6vh;
}
form{
    background-color: white;
    width: 25vw;
    height: 60vh;
    margin: 10vh auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 1vw;
}
form input{
    width: 20vw;
    height: 5vh;
    margin: 1vw;
    background-color: azure;
    border: none;
    font-size: 1vw;
}
form button{
    width: 20vw;
    height: 7vh;
    margin: 2vh; 
    border-color: white;
    border-radius: 1vw;
    color: white;
    font-size: 2vw;
        box-shadow: 1px 1px 10px gray;
}
form button:hover{
    background-color: white;
    color: aquamarine;
    border-color: aquamarine;
}
#login{
    width: 6vw;
    height: 3.5vh;
    margin: 2vh;
    padding: 3px; 
    border-color: white;
    border-radius: 1vw;
    background-color: white;
    color: aquamarine;
    font-size: 1.5vw;
     box-shadow: 1px 1px 10px gray;
     position: absolute;
     top:2%;
     right: 0%;
     text-decoration: none;
     text-align: center;
}
#login:hover{
    background-color: aquamarine;
    color: white;
}
form p{
    background-color: white;
    font-size: 2vw;
    margin-top: 4vh;
    margin-bottom: 1vh;
}
#error{
    color:red;
    font-size: 2vh;
    margin: 0;
    background-color: white;
    text-align: center;
}
.form-loginpage{
    height: 50vh;
}